.skils-contain {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skil-items {
    text-align: center;
    margin-top: 80px;
}
.skil-items h1 {
    font-size: 40px;
    font-weight: normal;
    position: relative;
}
.skil-items h1:before {
    content: '';
    position: absolute;
    margin-left: 48%;
    padding-left: 0;
    left: 0;
    width: 4%;
    height: 110%;
    border-bottom: 3px solid black;
}
.skil-items h4 {
    margin-top: 60px;
}
.skil-item {
    display: inline-block;
    width: 190px;
    height: 200px;
    border: 1px solid #ddd;
    position: relative;
    margin: 20px 30px 0 30px;
}
@media only screen and (max-width: 1023px) {
    .skil-item {
        margin: 5px 5px 0 5px;
    }
}
.skil-item img {
    width: 190px;
    height: 200px;
}
.caption {
    width: 190px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.727);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    /* padding을 주어서 원래 정했던 width와 height에서 삐져나오기 때문에 border-box줌 */
    box-sizing: border-box;
    padding-top: 10px;
    opacity: 0;
    transition: 0.5s;
    font-size: 15px;
}

.skil-item:hover .caption {
    opacity: 1;
}

.more-skils {
    display: none;
}
.more-btn {
    display: flex;
    justify-content: center;
    margin: 30px;
}
